<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <!--footer-->
    <div th:fragment="footer">
        <footer class="footer">
            <div class="container">
                <table width="1100px" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td width="850px" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <table width="850px" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td width="850px" class="bottom-top" style="padding:0 0 8px 6px; text-align:left;">
                                                    <a href="/about/welcome">회사소개</a>
                                                    <a href="/business/spac" style="padding:0 0 0 10px;">사업분야</a>
                                                    <a href="/gallery/gallery" style="padding:0 0 0 10px;">갤러리</a>
                                                    <a href="/online/mail" style="padding:0 0 0 10px;">온라인문의</a>
                                                    <a href="/customer/notic" style="padding:0 0 0 10px;">고객센터</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bottom" style="padding:0 0 20px 6px; text-align:left;">
                                                    주소 : 인천광역시 용종동 000-0 가나다라마바사ㅣ 상호: 가나다라마바사 ㅣ 사업자등록번호 : 000-00-00000<br/>
                                                    Tel : 032-123-4567 | Fax : 032-123-4567 | E-mail : test@naver.com<br/>
                                                    Copyright (c) test.biz All Rights Reserved.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="250px">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr><td><img th:src="@{/images/logo_bottom.gif}")></td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </footer>
    </div>
    <!--/footer-->

</html>