<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>:::OOO코리아:::</title>
        <link rel="stylesheet" th:href="@{/css/base.css}" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>
        <h2>sendMail</h2>
        <form th:action="@{/online/sendMail}" method="post">
            <div>
                받는사람 :
                <input type="text" name="to">
            </div>
            <div>
                보내는사람 :
                <input type="text" name="from">
            </div>
            <div>
                제목 :
                <input type="text" name="subject">
            </div>
            <div>
                내용 :
                <textarea name="content" rows="5" cols="80"></textarea>
            </div>
            <button type="submit">메일전송</button>
        </form>
        <div th:replace="layout/footer::footer"></div>
    </body>
</html>