@charset "utf-8";

A:link, A:visited {
    font-family:나눔 고딕, Nanum Barun Gothic, 맑은 고딕, Malgun Gothic, 돋움, Dotum, 굴림, Gulim, Arial, Helvetica;
    line-height: 140%;
    text-decoration:none;
    font-size:12px;
    color: #898989;
}
A:hover, A:active {
    font-family:나눔 고딕, Nanum Barun Gothic, 맑은 고딕, Malgun Gothic, 돋움, Dotum, 굴림, Gulim, Arial, Helvetica;
    line-height: 140%;
    text-decoration: none;
    font-size:12px;
    color: #898989;
}
body, td, div, option, input, select {
    font-family:나눔 고딕, Nanum Barun Gothic, 맑은 고딕, Malgun Gothic, 돋움, Dotum, 굴림, Gulim, Arial, Helvetica;
    font-size: 12px; 
    color: #666666;
    line-height: 170%;
    font-weight: normal;
    font-variant: normal;
}

/* 공통적용부분 */
li{list-style: none;}
#container{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-width: 1200px;
}

/* 구역적용부분 */
/* 컨텐츠 구현부 */
#contents_all{
    width:1100px;
    margin:0 auto;
    text-align:center;
    padding-top:18px;
    z-index:1000;
}
#sidemenu{
    width: 200px;
    float: left;
}
#navigation{
    width: 200px;
}
#submenu{
    margin: 0;
}
#submenu01{padding-bottom:19px;}
#submenu02 #submenu03 #submenu04{
    text-align:left;
    padding:8px 0px 3px 20px;
    border-bottom:1px solid #ececec;
}
#subcustomer{padding:100px 0px 0  0px;}
/* 헤더 */


/* 푸터 */