<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>:::OOO코리아:::</title>
        <link rel="stylesheet" th:href="@{/css/base.css}">
    </head>
    <body>
        <div id="sub_all">
            <form action="/updateOk">
                <table>
                    <tr>
                        <td>제목 :</td>
                        <td><input type="text" name="subject"></td>
                        <td>조회 수 :</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>작성자 :</td>
                        <td><input type="text" name="name"></td>
                        <td>비밀번호 :</td>
                        <td><input type="password" name="password"></td>
                    </tr>
                    <tr>
                        <td>본문 :</td>
                        <td colspan="3"><textarea name="content" rows="8" cols="40"></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="수정">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>